body{
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contenedor{
  display: grid;
  grid-template-columns: 12% 88%;
  grid-template-rows: 6% 94%;
  width: 100vw;
  height: 100vh;
  background-color: #EEEDF2;
  transition: 1s;
}
#sup{
  background-color: aliceblue;
}
#lateral{
  background-color: white;
  overflow: hidden;
  grid-row: 1/3;
}
#carita{
  width: 2.5vw;
  height: 2.5vh;
  margin-top: 0.8vw;
  margin-left: 0.5vw;
}
#text1{
  display: flex;
  font-size: 0.5vw;
  color: blue;
  margin-top: -2.1vw;
  margin-left: 3.5vw;
}
.menucito{
  margin-left: 1vw;
  margin-top: 1.3vw;
  width: 2vw;
  height: 2vh;

}
.menu:checked + .contenedor{
  grid-template-columns: 4% 96%;
}
#dashboard #dashboard_img{
  
  width: 2.5vw;
  height: 2.5vh;
  margin-left: 2vw;
}
#dashboard{
  background-color: #1652F1;
  display: flex;
  border-radius: 9px;
  width: 11vw;
  height: 4vh;
  margin-left: 0.5vw;
}

#bloques{
  display: flex;
  margin-top: 9vw;
}
.bloque1, .bloque2, .bloque3, .bloque4{
  width: 22vw;
  height: 17vh;
  background-color: white;
  margin-right: -1%;
  margin-left: 2vw;
  border-radius: 8px;

}
.bloque5{
  background-color: white;
  width: 91vw;
  height: 17vh;
  margin-top: 1vw;
  margin-left: 2vw;
  border-radius: 8px;
}