.contenedor{
    width: 100vw;
    height: 100vh;
    background-color: rgb(187, 240, 187);
}
#contenedor2{
    width: 100vw;
    height: 100vh;
}    
#lateral{
    width: 4vw;
    height: 100vh;
    background-color: palevioletred;
}
#sup{
    position: absolute;
    width: 100vw;
    height: 8vh;
    background-color: blue;
}
#bloques{
    display: flex;
    margin-top: -35vw;
    margin-left: 7vw;
    
    
}
.bloque1, .bloque2, .bloque3, .bloque4{
    width: 21.5vw;
    height: 20vh;
    background-color: white;
    margin-right: 1.5%;
    border-radius: 0.5vw;
}
.bloque5{
    background-color: white;
    height: 20vh;
    width: 90vw;
    margin-top: 1vw;
    margin-left: 7vw;
    border-radius: 0.5vw;
}
.texto{
    color: black;
    font-size: 2vw;
    margin-top: -33vw;
}
