body{
    display: flex;/**/
    margin: auto;/**/
    justify-content: center;/*centra*/
}

.box1{
    display: grid;
    background-color: black;
    border-radius: 15px;
    grid-template-columns: auto auto;
    padding: 2%;/*espacio entre los bordes de un elemento y su contenido*/
    gap: 2%;/*es el espacio entre las filas y columnas, espacio entre los elementos de html de n contenedor*/
    max-width: 1920px;/*se utiliza para establecer el ancho maximo de un elemento especifico*/
    border-radius: 2%;
}
.boxing-1 {
    border-radius: 2%;
    height: 100%;/*viewport o ventana visible que ocupe toda la ventana*/
    width: 100%;
}

.boxing-2{
    border-radius: 2%;
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
   
}
.boxing-3{
    border-radius: 2%;
    width: 100%;
    height: 100%;
}

.boxing-4{
    
    width: 100%;
    height: 95%;
    border-radius: 5%;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 5%;
}

.box2{
    display: grid;
    background-color: black;
    border-radius: 2%;
    padding: 2%;
    gap: 2%;
    max-width: 1920px;

}
.boxing1{
    
    border-radius: 2%;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    height: 100%;
}

.boxing2{
    border-radius: 8%;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    height: 100%;
    
    
}

.boxing3{
    border-radius: 2%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
}
