@font-face {
    font-family: "Mifuente";
    src: url("fuente/Amazon_Typefaces_Complete_Font_Set_Mar2020/Ember/AmazonEmber_Th.ttf");
}
@font-face {
    font-family: "Mifuente2";
    src: url("fuente/Amazon_Typefaces_Complete_Font_Set_Mar2020/Ember/AmazonEmber_Bd.ttf");
}
body{
    width: 100vw;
    min-height: 100vh; 
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    position: relative;
    max-width: 1920px;
    max-height: 4149px;
    margin: 0 auto;
}

.fondo2{
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    max-width: 100%;
    max-width: 100%;
    opacity: 0.75;
}
.logoPrime{ 
    position: absolute;
    top: 11.5vw;
    left: 33vw;
    max-width: 556px;
    max-height: 313px;
    width: 36vw;
    height: auto;
}
.lupita{
    position: absolute;
    max-width: 36px;
    max-height: 36px;
    top: 2vw;
    left: 3vw;
    width: 2.5vw;
    height: auto;
    
}
.login{
    position: absolute;
    max-width: 205px;
    max-height: 54px;
    top: 1.563vw;
    left: 88vw;
    width: 9vw;
    height: 3vw;
}
.plogin{
    position: absolute;
    font-family: Mifuente;
    font-size: 1.1vw;
    text-align: left;
    left: 3vw;
    color: black;
    top: -0.4vw;
    width: 15vw;
    max-width: 50px;
    max-height: 50px;
    opacity: 0.80;
}
.text1{
    position: absolute;
    font-family: Mifuente2;
    font-weight: bold;
    text-align: left;
    font-size: 3vw;
    color: white;
    top: 25vw;
    left: 20vw;
    width: 74vw;
    height: auto;
    max-width: 1151px;
    max-height: 60px;
    
}
.text2{
    position: absolute;
    font-family: Mifuente;
    text-align: center;
    font-size: 1.56vw;
    line-height: 1.2;
    color: white;
    top: 32vw;
    left: 17vw;
    width: 65vw;
    height: auto;
    max-width: 1160px;
    max-height: 102px;
    
}
.rect2{
   position: absolute;
   top: 42vw;
   left: 39vw;
   width: 20vw;
   height: 5vw;
   max-width: 458px;
   max-height: 104px;
}
.textrect{
    position: absolute;
    font-family: Mifuente;
    font-size: 1.9vw;
    text-align: left;
    color: black;
    top: -0.6vw;
    left: 2vw;
    width: 17vw;
    height: 5vw;
    max-width: 360px;
    max-height: 40px;

}
.caja1 {
    position: absolute;
    top: 55vw;
    left: 3vw;
    width: 94.4vw;
    height: 30vw;
    max-width: 1792px;
    max-height: 567px;
}
.caja2 {
    position: absolute;
    top: 86vw;
    left: 3vw;
    width: 94.4vw;
    height: 38vw;
    max-width: 1792px;
    max-height: 724px;
}
.caja3 img{
    position: relative;
    bottom: 5560px;
    left: 67px;
    width: 1792px;
    height: 567px;
}
.img1{
    position: absolute;
    top: 9vw;
    left: 21.7vw;
    width: 10vw;
    height: 16vw;
    max-width: 181px;
    max-height: 309px;
    border: 1px solid #707070;
}
.img2{
    position: absolute;
    top: 9vw;
    left: 32.3vw;
    width: 10vw;
    height: 16vw;
    max-width: 181px;
    max-height: 309px;
    border: 1px solid #707070;
}
.img3{
    position: absolute;
    top: 9vw;
    left: 43vw;
    width: 10vw;
    height: 16vw;
    max-width: 181px;
    max-height: 309px;
    border: 1px solid #707070;
}
.img4{
    position: absolute;
    top: 9vw;
    left: 53.7vw;
    width: 10vw;
    height: 16vw;
    max-width: 181px;
    max-height: 309px;
    border: 1px solid #707070;
}
.img5{
    position: absolute;
    top: 9vw;
    left: 64.4vw;
    width: 10vw;
    height: 16vw;
    max-width: 181px;
    max-height: 309px;
    border: 1px solid #707070;
}
.text5{
    font-family: Mifuente2;
    position: absolute;
    font-size: 3.1vw;
    text-align: left;
    color: white;
    top: -1vw;
    left: 3.7vw;
    width: 90vw;
    height: 28vw;
    max-width: 1664px;
    max-height: 60px;
}
.text6{
    font-family: Mifuente;
    position: absolute;
    font-size: 2.6vw;
    text-align: center;
    color: white;
    top: 26vw;
    left: 8vw;
    width: 88w;
    height: 30vw;
    max-width: 1492px;
    max-height: 110px;
}
.caja3{
    position: absolute;
    top: 125vw;
    left: 3vw;
    width: 94.4vw;
    height: 30vw;
    max-width: 1792px;
    max-height: 567px;
    border-radius: 1vw;
}
.equis{
    position: absolute;
    top: 135vw;
    left: 45vw;
    width: 10vw;
    height: 10vw;
    max-width: 169px;
    max-height: 169px;
    z-index: 2;
}
.text7{
    position: absolute;
    font-family: Mifuente2;
    font-size: 3.2vw;
    text-align: left;
    color: white;
    top: 1vw;
    left: 26vw;
    height: 28vw;
    width: 90vw;
    max-width: 800px;
    max-height: 60px;
}
.text8{
    position: absolute;
    font-family: Mifuente;
    font-size: 2vw;
    text-align: center;
    top: 20vw;
    left: 15vw;
    max-width: 1382px;
    max-height: 88px;
    color: white;
}
.devices{
    position: absolute;
    font-family: Mifuente;
    font-size: 6vw;
    text-align: center;
    color: white;
    top: 152vw;
    left: 22vw;
    width: 58vw;
    height: 15vw;
    max-width: 1118px;
    max-height: 125px;
}
.devices2{
    position: absolute;
    font-family: Mifuente;
    font-size: 2vw;
    text-align: center;
    color: white;
    top: 166vw;
    left: 8.5vw;
    width: 85vw;
    height: auto;
    max-width: 1544px;
    max-height: 99px;
}
.mac{
    position: absolute;
    top: 176vw;
    left: 39vw;
    width: 25vw;
    height: 23vw;
    max-width: 584px;
    max-height: 534px;
}
.iphone{
    position: absolute;
    top: 181vw;
    left: 20vw;
    width: 12.5vw;
    height: 10vw;
    max-width: 256px;
    max-height: 219px;
    opacity: 0.90;
}
.pc{
    position: absolute;
    top: 181vw;
    left: 70vw;
    width: 12.5vw;
    height: 10vw;
    max-width: 271px;
    max-height: 238px;
}
.flecha1{
    position: absolute;
    top: 184vw;
    left: 20vw;
    width: 2vw;
    height: 3vw;
    max-width: 19px;
    max-height: 27px;
}
.flecha2{
    position: absolute;
    top: 184vw;
    left: 82vw;
    width: 2vw;
    height: 3vw;
    max-width: 19px;
    max-height: 27px;
    transform: rotate(-179deg);
}
.logo1{
    position: absolute;
    top: 205vw;
    left: 45vw;
    width: 20vw;
    height: 12vw;
    max-width: 430px;
    max-height: 241px;
    opacity: 0.50;
}
.logo2{
    position: absolute;
    top: 21.2vw;
    left: 32vw;
    width: 40vw;
    height: 4vw;
    max-width: 831px;
    max-height: 25px;
    opacity: 0.50;
}
