
body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
#fondo{
    margin: auto;
    background-image: url(img/paisaje.jpg);
    background-size: cover;
    width: 90vw;
    height: 40vw;
    
}

.sol{
    width: 17vw;
    height: 15vw;
    margin-left: 60vw;
    margin-top: 5vw;
    animation-name: sun;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes sun{
    0% {
        opacity: 50% }
    75%{
        opacity: 75%}
    
}
.nube{
    width: 25vw;
    height: 17vw;
    margin-left: 70vw;
    margin-top: -14vw;
    animation-name: cloud;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes cloud{
    0%{margin-left: 125vw;}
    50%{margin-left: 25vw;}
    100%{margin-left: -25vw;}
}
.lluvia{
    animation-name: drop;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
#gotas{
    width: 15vw;
    height: 20vw;
    margin-top: 5vw;
    margin-left: 62vw;
}
@keyframes drop{
    40%{margin-top: -20%;}
    80%{margin-top: 10%;}
    100%{margin-top: 10%;}
}

#flor{
    margin-top: -60vw;
    margin-left: 60vw;
    display: flex;
    justify-content: center;
    width: 12vw;
    height: 10vw;
}
#imgflor{
    margin-top: 8vw;
    width: 0%;
    height: 0%;
    animation-name: flor;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes flor{
    80%{
        width: 0%;
        height: 0%;
        margin-top: 8vw;
    }
    100%{
        width: 12vw;
        height: 10vw;
    }
}
.Conteo{
    font-size: 2vw;
    width: 15vw;
    height: 7vw;
    margin-top: 28vw;
    margin-left: 83vw;
    
    overflow: hidden;
}
.cont{
    margin-top: 4vw;
    animation-name: num;
    animation-duration: 14s;
    animation-iteration-count: infinite;
}
@keyframes num{
    7%{margin-top: 0vw;}
    41%{margin-top: -17vw;}
    28%{margin-top: -26vw;}
    100%{margin-top: -32vw;}
}