
.paisaje{
    background-image: url(img/fondo_paisaje.jpg);
    background-size: cover;
    width: 60vw;
    height: 40vw;
    margin: auto;
}
.sol{
    width: 9vw;
    height: 7vw;
    margin-left: 40vw;
    margin-top: 3vw;
    opacity: 50%;
    animation-name: solesito;

    
}
.nube{
    width: 15vw;
    height: 5vw;
    margin-left: 50vw;
    margin-top: -6vw;          
    animation-name: nubecita;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes nubecita{
    50%{margin-left: -35vw;}
    80%{margin-left: -35vw;}
    100%{margin-left: -100vw;}

}
.lluvia{
    margin-top: -30vw;
    margin-left: 37vw;
    animation-name: gotas;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    
}
@keyframes gotas{
    50%{margin-top: 140%;}
    80%{margin-top: 140%;}
    100%{margin-top: 140%;}
}