
body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
#fondo{
    margin: auto;
    background-image: url(img/paisaje.jpg);
    background-size: cover;
    width: 90vw;
    height: 40vw;
    
}

#sol{
    width: 17vw;
    height: 15vw;
    margin-left: 60vw;
    margin-top: 5vw;
    animation-name: sun;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    opacity: 0 ;
    z-index: -1;
    
}
@keyframes sun{
    0% {
        opacity: 0 }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 1}
    100%{
        opacity: 1;
    }
    
}
#nube{
    width: 25vw;
    height: 17vw;
    margin-left: 70vw;
    margin-top: -14vw;
    animation-name: cloud;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    z-index: 2;
    
}
@keyframes cloud{
    0%{margin-left: 125vw;}
    50%{margin-left: 25vw;opacity: 1;}
    70%{margin-left: -13vw;opacity: 0;}
    100%{margin-left: 1vw;opacity: 0;}
}
.lluvia{
    margin-top: -23vw;
    margin-left: 37vw;
    width: 15vw;
    height: 20vw;
    overflow: hidden;
}
#gotas{
    width: 15vw;
    height: 20vw;
    animation-name: drop;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes drop{
    0%{margin-top: -155vw;}
    25%{margin-top: -155vw;}
    50%{margin-top: 20vw;}
    100%{margin-top: 20vw;}
}

#flor{
    margin-top: -7vw;
    margin-left: 37vw;
    display: flex;
    justify-content: center;
    width: 12vw;
    height: 10vw;
}
#imgflor{
    width: 0%;
    height: 0%;
    animation-name: flor;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes flor{
    75%{
        width: 0%;
        height: 0%;
        margin-top: 8vw;
    }
    100%{
        width: 8vw;
        height: 10vw;
    }
}
.Conteo{
    font-size: 2vw;
    width: 15vw;
    height: 7vw;
    margin-top: -7vw;
    margin-left:59vw;
    overflow: hidden;
}
.cont{
    
    animation-name: num;
    animation-duration: 15s;
    text-align: center;
    animation-iteration-count: infinite;
    overflow: hidden;
}
@keyframes num{
    0%{margin-top: 0vw;opacity: 1;}
    20%{margin-top: -17vw;opacity: 1;}
    20.1%{opacity: 0;}
    100%{opacity: 0;}
}