*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.contenedor{
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
#btn-menu{
  display: none;
}
.contenedor-menu{
  position: absolute;
  background: bisque;
  width: 10%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
#btn-menu:checked ~ .contenedor-menu{
  opacity: 0;
  visibility: hidden;
}
.cont-menu{
  width: 100%;
  max-width: 250px;
  height: 100vh;
  position: relative;
}
.cont-menu nav{
  transform: translateY(15%);
}
.cont-menu nav a{
  display: block;
  text-decoration: none;
  padding: 20px;
  border-left: 5px solid transparent;
  transition: all 400ms ease;

}
.cont-menu nav a:hover{
  border-left: 5px solid;
}
.cont-menu label{
  position: absolute;
  right: 5px;
  top: 10px;
  cursor: pointer;
  font-size: 18px;
}

