body {
    background: whitesmoke;
}

.circle {
    --size: 200px;
    --gradient: linear-gradient(indigo, hotpink);

    width: var(--size);
    height: var(--size);
    background: var(--gradient);
    border-radius: 50% ;
}

.rect {
    text-align: center;
    --w: 200px;
    --h: 400px;
    --gradient: linear-gradient(indigo, hotpink)

    var(--w);
    height: var(--h);
    width: var(--w);
    background: var(--gradient);

}

.rect1 {
    --w: 200px;
    --h: 150px;
    --gradient: linear-gradient(indigo, hotpink)

    var(--w);
    height: var(--h);
    width: var(--w);
    background: var(--gradient);
}