.Contenedor{
    margin: auto;/* Centra la hoja de la paguina */
    width: 895px;/* ancho */
    height: 1100px; /* Altura */
    background: #8a7a86;/* color de fondo*/
    border: 5px solid black/* Borde de la caja */
    }

.Contenedor .imagen img{
    
    margin: 20px;
    border-radius: 85%;/* redondear la imagen*/
    height: 250px;
    width: 250px;
    transition: 100ms all;/*Va a agarrar todos los objetos*/
    border: 5px solid black
    
    
}
.Contenedor .imagen img:hover{
    /* hover lo que realiza es que cuando el mouse toque la caja va a realizar la transsicn*/
    transform: scale(1.2);/*  */
}
/*crear caja 1 */
.caja1{    
    
    margin: 20px;
    font-size: 20px;
    background-color: #e7e2d3;
    width: 265px;
    height: 400px;
    border: 3px solid black;
    transition: 100ms all;
}
.caja1 .titulo1{
    font-size: 125%;/* Tamaño del titulo de la caja */
    letter-spacing: 5px;/* El espacio que va a tener la cada letra del circulo */
    text-align: center;/* centrar el titulo */
    color: #4e495a;/* color al circulo */
    text-shadow: rgb(241, 240, 240) 6px 0;/* color del sombreado del circulo */
    text-transform: uppercase;/* Todo el titulo va a pasar a mayuscula */


}
.caja1:hover{
    transform: scale(1.1);
    background-color: rgb(255, 255, 255);/* Al hacer la transcision la caja cambiara de color  */
    
}
.contenido{
    text-align: center;
    font-family:'Courier New', Courier, monospace;/* Tipo de fuente que va a tener la letra */
    font-size: medium;/* Tamaño medio */

}
.caja2 img{
    
    margin: 20px; /* Margen */
    background-color: antiquewhite;
    width: 265px;
    height: 300px;
    border: 3px solid black;
    transition: 90ms all;
}
.caja2:hover{
    transform: scaleY(1.2);

}

.caja3{
    position: relative;/* Hace que la caja sea relativa, que la caja tenga movimiento */
    text-align: center;
    left: 300px;/* mover la caja a la izquierda */
    top: -1090px;/* La caja suba */
    margin: 20px;
    background-color: #e7e2d3;
    width: 270px;
    height: 705px;
    border: 3px solid black
}
.caja3 .titulo2{

    font-size: 145%;
    letter-spacing: 5px;
    text-align: center;
    color: #4e495a;
    text-shadow: rgb(241, 240, 240) 6px 0;
    text-transform: uppercase;
}
.contenido2{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: large;
}
.caja3:hover{
    transform: scale(1.1);
    background-color: rgb(255, 255, 255);
}
.caja4{
    position: relative;
    text-align: center;
    left: 300px;
    top: -1109px;
    margin: 20px;
    background-color: #e7e2d3;
    width: 270px;
    height: 346px;
    border: 3px solid black
}
.caja4 .titulo3{
    font-size: 140%;
    letter-spacing: 5px;
    text-align: center;
    color: #4e495a;
    text-shadow: rgb(241, 240, 240) 6px 0;
    text-transform: uppercase;
}
.contenido3{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: large;
}
.caja4:hover{
    transform: scale(1.1);
    background-color: rgb(255, 255, 255);
}
.caja5{
    position: relative;
    text-align: center;
    left: 590px;
    top: -2189px;
    margin: 20px;
    background-color: #e7e2d3;
    width: 270px;
    height: 1054px;
    border: 4px solid black;
    transition: 100ms all;
}
.caja5:hover{
    transform: scale(1.1);
    background-color: rgb(255, 255, 255);
}
.caja5 .titulo4{
    font-size: 150%;
    letter-spacing: 5px;
    text-align: center;
    color: #4e495a;
    text-shadow: rgb(241, 240, 240) 6px 0;
    text-transform: uppercase;
}
.caja5 .titulo5{
    font-size: 140%;
    letter-spacing: 5px;
    text-align: center;
    color: #4e495a;
    text-shadow: rgb(241, 240, 240) 6px 0;
    text-transform: uppercase;
}
.caja5 .titulo6{
    font-size: 150%;
    letter-spacing: 5px;
    text-align: center;
    color: #4e495a;
    text-shadow: rgb(241, 240, 240) 6px 0;
    text-transform: uppercase;
}
.contenido4{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: large;
}
.contenido5{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size:large;
}
.contenido6{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size:larger;
}
