body{
    top: 0px;
    left: 0px;
    width: 1400px;
    height: 1200px;
    background: transparent linear-gradient(180deg, var(--unnamed-color-ffffff) 0%, #E6E6E6 21%, #808080 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #E6E6E6 21%, #808080 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}
.contenedor {
    position: relative;
    margin: auto;
    width: 1410px;
    height: 810px;
    background-color: #ffffff;
    top: 260px;
    left: 150px;
    border: 1px solid #a1a1a1;
    opacity: 1;
}
.contenido img{
    border-radius: 5%;
    position: relative;
    top: 200px;
    left: 280px;
    width: 630px;
    height: 370px;
}
.contenido img.dos{
    position: relative;
    top: -275px;
    left: -550px;
    width: 196px;
    height: 44px;
}
.linea img{
    position: relative;
    top: -507px;
    left: 1400px;
    width: 130px;
    height: 815px;
}
.contenido img.tres{
    position: relative;
    top: 370px;
    left: 385px;
    width: 160px;
    height: 114px;
    border-radius: 8px;
}
.contenido img.cuatro{
    position: relative;
    top: 310px;
    left: 240px;
    width: 129px;
    height: 29px;
    background: transparent url('imagenes/metrolinea.jpeg') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.contenido h1.text{
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
    left: 1230px;
    top: 306px;
    
}
.contenido img.cinco{
    position: relative;
    top: -400px;
    left: 730px;
    width: 250px;
    height: 41px;

}
.contenedor img.seis{
    position: relative;
    top: -400px;
    left: 755px;
    width: 150px;
    height: 41px;
    
}
.contenedor img.siete{
    position: relative;
    top: -405px;
    left: 770px;
    width: 27px;
    height: 27px;
}
.contenedor img.ocho{
    position: relative;
    top: -400px;
    left: 870px;
    width: 40px;
    height: 39px;
}
.contenedor img.nueve{
    position: relative;
    top: 260px;
    left: -420px;
    width: 130px;
    height: 40px;
}
.contenedor img.diez{
    position: relative;
    top: 200px;
    left: -555px;
    width: 716px;
    height: 60px;
}
.linea img.once{
    position: relative;
    
}