@font-face {
    font-family: Mifuente;
    src: url(fuente/MyriadPro-Light.otf);
}
@font-face{
    font-family: Mifuente2;
    src: url(fuente/MYRIADPRO-REGULAR.OTF);
}

#contenedor2{
    height: 1580px;
    background-image: url("img/pexels-clive-kim-4150032@2x.png");
    width: 2960px;
    margin: auto;
}
.superior{
    width: 2960px;
    background-color: #3669c9;
    height: 174px;
    position: fixed;
    z-index: 2;
    margin: auto;
    font-family: Mifuente2;
}
.sub{
    position: relative;
    width: 1545px;
    height: 174px;
    margin: auto;
    display: flex;
}
.sub a,img,button{
    margin-left: 150px;
}
.sub img{
    position: relative;
    width: 350px;
    height: 90px;
    left: 40px;
    top: 40px;
}
.sub a{
    position: relative;
    color: white;
    text-decoration: none;
    top: 85px;
    font-size: 30px;
    font-weight: 100;
    left: 10px;
    font-family: Mifuente2;
}
.sub button{
    position: absolute;
    width: 200px;
    height: 50px;
    font-size: 25px;
    border-radius: 40px;
    left: 1250px;
    top: 75px;

}
.caja1{
    position: relative;
    top: 191px;
    left: 710px;
    width: 1545px;
    height: 1225px;
    border-radius: 50px;
    background-color: white;
}
#logo{
    position: absolute;
    width: 323px;
    height: 65px;
    left: 500px;
    top: 80px;
}
.icono2 img{
    position: absolute;
    width: 301px;
    height: 301px;
    left: 500px;
    top: 250px;
}
.text{
    position: relative;
    text-align: center;
    top: 620px;
    font-family: Mifuente2;
}
.text h3{
    font-size: 39px;
    font-family: Mifuente2;
}
.text p{
    font-size: 35px;
    font-family: Mifuente2;
}
.text img{
    position: relative;
    width: 264px;
    height: 88px;
    left: -50px;
}
.text a{
    position: absolute;
    text-decoration: none;
    width: 311px;
    height: 59px;
    background-color: #3669c9;
    color: white;
    top: 315px;
    left: 600px;
    font-size: 30px;
    padding: 25px 20px;
    border: none;
    border-radius: 25px;
    font-family: Mifuente2;
    
}

.inferior{
    position: absolute;
    width: 2960px;
    background-color: #3669c9;
    height: 235px;
    top: 1286px;
    left: -710px;
}

.inferior .img1 img{
    position: relative;
    width: 300px;
    height: 60px;
    left: 1200px;
    top: -90px;
}
.inferior .texto2{
    position: relative;
    color: white;
    text-align: center;
    left: -500px;
    font-size: 20px;
    top: 45px;
    line-height: 200%;
    font-family: Mifuente;
}
.inferior .texto3{
    position: relative;
    color: white;
    text-align: center;
    font-size: 25px;
    left: 500px;
    top: -220px;
    line-height: 200%;
    font-family: Mifuente;
}